In [1]:

%load_ext autoreload
%autoreload 2

In [9]:

import os; os.chdir(f'{os.getenv("MT_ROOT")}/src'); os.getcwd()
import pandas as pd
import pathlib as pl

import constants as ct

In [10]:
def merge_evaluations(runs_dir: pl.Path) -> pd.DataFrame:
    evaluations = list(runs_dir.glob("*/evaluation_stats.csv"))
    
    dfs = []
    for evaluation in evaluations:
        with open(evaluation.as_posix()) as file:
            dfs.append(pd.read_csv(file, index_col=0)) 
    
    return pd.concat(dfs, axis=0, sort=True)

In [11]:
df = merge_evaluations(pl.Path(ct.SMTH_RUN_DIR / "__100"))
df

,dev_acc@1,dev_acc@5,dev_ce_loss,dev_iou,dev_mse_loss,dev_total_loss,model_size,train_acc@1,train_acc@5,train_ce_loss,train_iou,train_mse_loss,train_total_loss,valid_acc@1,valid_acc@5,valid_ce_loss,valid_iou,valid_mse_loss,valid_total_loss
aetarn_smth_100_mse_ce,0.525839,0.798993,1.741823,0.595134,0.175238,1.917061,"10,532,244",0.663450,0.915380,1.113492,0.726758,0.173017,1.286510,0.333266,0.658225,2.563294,0.403160,0.153336,2.716629
tadn_smth_100,0.541443,0.811577,1.764235,0.604027,NaN,NaN,"7,873,214",0.765271,0.953306,0.770314,0.814566,NaN,NaN,0.330632,0.661872,2.803800,0.402350,NaN,NaN
aei3d_smth_100,0.517450,0.800335,1.752381,0.584899,0.234165,1.986546,"14,530,370",0.690552,0.919743,1.035708,0.743329,0.226326,1.262034,0.322731,0.661062,2.658589,0.392423,0.207422,2.866011
i3d_smth_100,0.530872,0.815772,1.725059,0.597483,NaN,NaN,"6,598,718",0.718241,0.925449,0.945782,0.769760,NaN,NaN,0.336102,0.688412,2.635157,0.409036,NaN,NaN
tarn_smth_100,0.546477,0.807047,1.792944,0.613591,NaN,NaN,"6,481,454",0.771019,0.957459,0.749685,0.812594,NaN,NaN,0.332455,0.665924,2.831554,0.405794,NaN,NaN
aetarn_smth_100,0.541275,0.815268,1.679117,0.609060,0.169169,1.848286,"10,532,244",0.720717,0.935434,0.936444,0.772865,0.169189,1.105633,0.347245,0.675041,2.594440,0.419571,0.147278,2.741719

In [12]:
size_col = ['model_size']
acc1_cols = ['train_acc@1', 'dev_acc@1', 'valid_acc@1']
acc5_cols = ['train_acc@5', 'dev_acc@5', 'valid_acc@5']
iou_cols = ['train_iou', 'dev_iou', 'valid_iou']

for col in acc1_cols + acc5_cols + iou_cols:
    df[col] = round(df[col] * 100, 2)

In [13]:
cols = size_col + acc1_cols
print(df[cols].to_latex())
df[cols]

\begin{tabular}{llrrr}
\toprule
{} &  model\_size &  train\_acc@1 &  dev\_acc@1 &  valid\_acc@1 \\
\midrule
aetarn\_smth\_100\_mse\_ce &  10,532,244 &        66.35 &      52.58 &        33.33 \\
tadn\_smth\_100          &   7,873,214 &        76.53 &      54.14 &        33.06 \\
aei3d\_smth\_100         &  14,530,370 &        69.06 &      51.74 &        32.27 \\
i3d\_smth\_100           &   6,598,718 &        71.82 &      53.09 &        33.61 \\
tarn\_smth\_100          &   6,481,454 &        77.10 &      54.65 &        33.25 \\
aetarn\_smth\_100        &  10,532,244 &        72.07 &      54.13 &        34.72 \\
\bottomrule
\end{tabular}

                        model_size  train_acc@1  dev_acc@1  valid_acc@1
aetarn_smth_100_mse_ce  10,532,244        66.35      52.58        33.33
tadn_smth_100            7,873,214        76.53      54.14        33.06
aei3d_smth_100          14,530,370        69.06      51.74        32.27
i3d_smth_100             6,598,718        71.82      53.09        33.61
tarn_smth_100            6,481,454        77.10      54.65        33.25
aetarn_smth_100         10,532,244        72.07      54.13        34.72

In [14]:
cols = size_col + acc5_cols
print(df[cols].to_latex())
df[cols]

\begin{tabular}{llrrr}
\toprule
{} &  model\_size &  train\_acc@5 &  dev\_acc@5 &  valid\_acc@5 \\
\midrule
aetarn\_smth\_100\_mse\_ce &  10,532,244 &        91.54 &      79.90 &        65.82 \\
tadn\_smth\_100          &   7,873,214 &        95.33 &      81.16 &        66.19 \\
aei3d\_smth\_100         &  14,530,370 &        91.97 &      80.03 &        66.11 \\
i3d\_smth\_100           &   6,598,718 &        92.54 &      81.58 &        68.84 \\
tarn\_smth\_100          &   6,481,454 &        95.75 &      80.70 &        66.59 \\
aetarn\_smth\_100        &  10,532,244 &        93.54 &      81.53 &        67.50 \\
\bottomrule
\end{tabular}

                        model_size  train_acc@5  dev_acc@5  valid_acc@5
aetarn_smth_100_mse_ce  10,532,244        91.54      79.90        65.82
tadn_smth_100            7,873,214        95.33      81.16        66.19
aei3d_smth_100          14,530,370        91.97      80.03        66.11
i3d_smth_100             6,598,718        92.54      81.58        68.84
tarn_smth_100            6,481,454        95.75      80.70        66.59
aetarn_smth_100         10,532,244        93.54      81.53        67.50

In [15]:
cols = size_col + iou_cols
print(df[cols].to_latex())
df[cols]

\begin{tabular}{llrrr}
\toprule
{} &  model\_size &  train\_iou &  dev\_iou &  valid\_iou \\
\midrule
aetarn\_smth\_100\_mse\_ce &  10,532,244 &      72.68 &    59.51 &      40.32 \\
tadn\_smth\_100          &   7,873,214 &      81.46 &    60.40 &      40.24 \\
aei3d\_smth\_100         &  14,530,370 &      74.33 &    58.49 &      39.24 \\
i3d\_smth\_100           &   6,598,718 &      76.98 &    59.75 &      40.90 \\
tarn\_smth\_100          &   6,481,454 &      81.26 &    61.36 &      40.58 \\
aetarn\_smth\_100        &  10,532,244 &      77.29 &    60.91 &      41.96 \\
\bottomrule
\end{tabular}

                        model_size  train_iou  dev_iou  valid_iou
aetarn_smth_100_mse_ce  10,532,244      72.68    59.51      40.32
tadn_smth_100            7,873,214      81.46    60.40      40.24
aei3d_smth_100          14,530,370      74.33    58.49      39.24
i3d_smth_100             6,598,718      76.98    59.75      40.90
tarn_smth_100            6,481,454      81.26    61.36      40.58
aetarn_smth_100         10,532,244      77.29    60.91      41.96