In [1]:
import pandas as pd

In [ ]:
df1 = pd.read_json(open('../data/full/smth/xtra/labels.train.json'), orient='record', typ='frame')
df1.head()

In [ ]:
with open('../data/dummy/smth/xtra/labels2id.json') as file:
    labels2id = json.load(file)
labels2id = list(map(lambda _tuple: {'label': _tuple[0], 'id': _tuple[1]}, labels2id.items()))
df2 = pd.read_json(json.dumps(labels2id), orient='record', typ='frame')
df2.head()

In [ ]:
df1['template'] = df['template'].str.replace('\[something\]', 'something')
df1.info()

In [ ]:
filtered = df1[df1['template'].isin(df2['label'])].reset_index(drop=True)

In [ ]:
filtered.head()

In [3]:
df1 = pd.read_json(open('../../data/dummy/smth/meta/labels.train.json'), orient='record', typ='frame')
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 4 columns):
id              533 non-null int64
label           533 non-null object
placeholders    533 non-null object
template        533 non-null object
dtypes: int64(1), object(3)
memory usage: 16.7+ KB

,id,label,placeholders,template
0,99855,putting the shaving brush next to geometry box,"[the shaving brush, geometry box]",Putting something next to something
1,32021,attaching top cover to box,"[top cover, box]",Attaching something to something
2,142077,putting google cardboard behind monitor,"[google cardboard, monitor]",Putting something behind something
3,146654,putting perfume bottle into bowl,"[perfume bottle, bowl]",Putting something into something
4,36681,putting wood stick into tomato,"[wood stick, tomato]",Putting something into something

In [ ]:
18609
df1['id'] = df1['id'].astype(str)
df1.sort_values('id', ascending=False)

In [ ]:
df1 = pd.read_json(open('../../data/dummy/smth/meta/labels.merged.json'), orient='record', typ='frame')
df1 = df1.set_index('id', drop=False, verify_integrity=True)
df1.index = df1.index.map(str)
df1.head()

In [ ]:
%timeit df1.loc['184568']

In [ ]:
df1 = pd.read_json(open('../../data/dummy/smth/meta/labels.merged.json'), orient='record', typ='frame')
df1 = df1.set_index('id', drop=False, verify_integrity=True)

In [ ]:
'184568' in df1.index

In [41]:
len(df1.index)

18609

In [44]:
df1.loc['184568']

id                                               184568
label           pushing strap camera from right to left
placeholders                             [strap camera]
split                                             train
template           Pushing something from right to left
Name: 184568, dtype: object

In [5]:
df1 = pd.read_json(open('../../data/dummy/smth/meta/meta.merged.json'), orient='record', typ='frame')
df1.head()

,framerate,height,id,label,length,path,placeholders,split,template,template_id,width
0,12,240,32502,putting yellow cucumber into earthen pot,38,../data/dummy/smth/raw/32502.webm,"[yellow cucumber, earthen pot]",train,Putting something into something,0,427
1,12,240,7749,putting a toy into a plastic container,66,../data/dummy/smth/raw/7749.webm,"[a toy, a plastic container]",train,Putting something into something,0,427
2,12,240,179493,putting stem with leaves into the bottle,37,../data/dummy/smth/raw/179493.webm,"[stem with leaves, the bottle]",train,Putting something into something,0,427
3,12,240,126958,putting a book into a magazine basket,37,../data/dummy/smth/raw/126958.webm,"[a book, a magazine basket]",train,Putting something into something,0,427
4,12,240,20657,putting fried fish into plate,57,../data/dummy/smth/raw/20657.webm,"[fried fish, plate]",train,Putting something into something,0,427

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 8 columns):
framerate       132 non-null int64
height          132 non-null int64
id              132 non-null int64
label           132 non-null object
path            132 non-null object
placeholders    132 non-null object
template        132 non-null object
width           132 non-null int64
dtypes: int64(4), object(4)
memory usage: 8.3+ KB