In [2]:
import os; os.chdir('/Users/Play/Code/AI/master-thesis/src')
import numpy as np
import torch
import pipeline as pipe
import constants as ct
import skvideo.io

In [28]:
base_transform = pipe.TransformComposition([
    pipe.VideoResize(224, 'inter_area'),
])
dataset = pipe.SmthDataset(ct.SMTH_META_TRAIN, 1.0, base_transform)

In [29]:
x,y = dataset[0]

In [30]:
skvideo.io.vwrite('resize.mp4', x, inputdict={
    '-framerate': '12'
})

In [18]:
dataset.meta.head()

,framerate,height,id,label,length,path,placeholders,template,template_id,width
id,,,,,,,,,,
32502,12,240,32502,putting yellow cucumber into earthen pot,38,../data/dummy/smth/raw/32502.webm,"[yellow cucumber, earthen pot]",Putting something into something,0,427
7749,12,240,7749,putting a toy into a plastic container,66,../data/dummy/smth/raw/7749.webm,"[a toy, a plastic container]",Putting something into something,0,427
179493,12,240,179493,putting stem with leaves into the bottle,37,../data/dummy/smth/raw/179493.webm,"[stem with leaves, the bottle]",Putting something into something,0,427
126958,12,240,126958,putting a book into a magazine basket,37,../data/dummy/smth/raw/126958.webm,"[a book, a magazine basket]",Putting something into something,0,427
20657,12,240,20657,putting fried fish into plate,57,../data/dummy/smth/raw/20657.webm,"[fried fish, plate]",Putting something into something,0,427